// Home Content
.home {

  .intro {
  margin: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media @mobile{
    margin: 0;
  }


    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }

    img {
      max-width: 100%;
      height: 100%;
      border-radius: 10px;
    }

  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .yes-mobile{
    .imgMixin();
    @media @mobile{
    width: 90%;
    // margin: 20px 2%;
    // border-radius: 20px;
    // height: 100%;
    // justify-content: center
    }
  }


  .no-mobile{
    .imgMixin();
    @media @mobile{
      display:none;
    }
  }

  .visit-planets {
    padding: 15px;
    margin: 0 40px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    @media @mobile{
      margin-top: 10px;
      flex-wrap: wrap;
      padding: 10px 0;
    }

    .walk-text {
      width: 50%;

      @media @mobile{
        order: 2;
        width: 80%;
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
        .btnMixin(white, @btn-bg-color);
         text-align: center;

         @media @mobile{
           width: 100%;
         }
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;

      @media @mobile{
        order: 1;
        width: 80%;
        margin: 0;
        padding-bottom: 20px;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
}// home
