// Mixins Here

.btnMixin(@color, @background-color){
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 35%;
  color: @color;
  background-color: @background-color;
}
